@using Tournament.Data.Entities
@model List<TeamApplicationForm>
@{
    ViewData["Title"] = "Submissions";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-wrapper">
	<div class="page-content">
		<h6 class="mb-0 text-uppercase">Başvuru Talep Listesi</h6>
		<hr />
		<div class="card">
			<div class="card-body">
				<div class="table-responsive">
					<table id="example2" class="table table-striped table-bordered">
						<thead>
							<tr>
								<th>Takım Adı</th>
								<th>Kurum Adı</th>
								<th>Mail</th>
								<th>Takım Boyutu</th>
								<th>Telefon No</th>
								<th>Başvuru Tarihi</th>
								<th></th>

							</tr>
						</thead>
						<tbody>
							@foreach(var i in Model)
							{
								<tr>
									<td>@i.Teamname</td>
									<td>@i.Company</td>
									<td>@i.Email</td>
									<td>@i.TeamSize</td>
									<td>@i.PhoneNumber</td>
									<td>@i.Created</td>
									<td>
										<a href="/Admin/DeleteSubmission/@i.Id" style="margin-right:5px;">
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-delete text-primary"><path d="M21 4H8l-7 8 7 8h13a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2z"></path><line x1="18" y1="9" x2="12" y2="15"></line><line x1="12" y1="9" x2="18" y2="15"></line></svg>
										</a>
										
										<a href="/Admin/SubmissionDetail/@i.Id">
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye text-primary"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg></a>
									</td>
								</tr>
							}
							
						</tbody>
						<tfoot>
							<tr>
								<th>Takım Adı</th>
								<th>Kurum Adı</th>
								<th>Mail</th>
								<th>Takım Boyutu</th>
								<th>Telefon No</th>
								<th>Başvuru Tarihi</th>
								<th></th>

							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
